[Desktop Entry]
Type=Application
Name=Minecraft
GenericName=Sandbox Building Game
Icon=minecraft-installer
Exec=minecraft
Terminal=false
Categories=Game
