[Desktop Entry]
Type=Application
Name=Minecraft Server
GenericName=Sandbox Building Game Server
Exec=minecraft-server --gui
Terminal=false
Categories=Game
Keywords=sandbox,build,block,multiplayer,adventure
