[Desktop Entry]
Type=Application
Name=Minecraft
GenericName=Sandbox Building Game
Icon=minecraft-installer
Exec=minecraft
Terminal=false
Categories=Game
Keywords=sandbox,build,block,multiplayer,adventure
