[Desktop Entry]
Type=Application
Name=Minecraft
GenericName=Sandbox Building Game Server
Icon=minecraft-server-installer
Exec=minecraft-server
Terminal=true
Categories=Game
