Source: minecraft-installer
Section: games
Priority: extra
Maintainer: Graham Edgecombe <graham@grahamedgecombe.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.5
Homepage: http://www.grahamedgecombe.com/projects/minecraft-installer
Vcs-Git: git://github.com/grahamedgecombe/minecraft-installer.git
Vcs-Browser: http://github.com/grahamedgecombe/minecraft-installer

Package: minecraft-installer
Architecture: all
Pre-Depends: imagemagick
Depends: ${misc:Depends}, default-jre | java-runtime, wget | curl
Description: Minecraft
 Downloads and installs the official Minecraft client.

Package: minecraft-server-installer
Architecture: all
Depends: ${misc:Depends}, default-jre-headless | java-runtime-headless, wget | curl
Suggests: default-jre | java-runtime
Description: Minecraft Server
 Downloads and installs the official Minecraft server.
